@import "../../../assets/styles/colors";

$width-image: 15rem; // 250px
$width-card: 30%;
$height-card: 15rem; // 250px

.card {
  width: $width-card;
  height: $height-card;
  background-color: #fff;
  // background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;

  h1 {
    text-align: center;
  }

  .additional {
    position: absolute;
    width: $width-image;
    height: 100%;
    background: linear-gradient($primary-color, #E3E645);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;

    .user-card {
      height: 100%;
      position: relative;
      float: left;
      width: $width-image;
      background-image: url("src/assets/images/notebook.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      //&::after {
      //  content: "";
      //  display: block;
      //  position: absolute;
      //  top: 10%;
      //  right: -2px;
      //  height: 80%;
      //  border-left: 2px solid rgba(0,0,0,0.025);
      //}
    }

    .more-info {
      width: 20rem;
      float: left;
      position: absolute;
      left: $width-image;
      height: 100%;

      h1 {
        color: #000;
        margin-bottom: .8rem;
      }

      .coords {
        margin: 0 1rem;
        color: #000;
        font-size: 1rem;
        font-weight: 300;

        &.title {
          font-weight: 500!important;
        }
      }

      .stats {
        font-size: 2rem;
        display: flex;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        top: auto;
        color: #000;

        & > div {
          flex: 1;
          text-align: center;
        }

        i {
          display: block;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &.title {
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
          }

          &.value {
            font-size: .8rem;
            font-weight: 300;
          }
        }
      }
    }
  }

  &:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }

  .general {
    width: calc(100% - 15rem);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 1rem 1rem;

    .product {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .value {
        color: black;
        font-size: 2.1rem;
        font-weight: 500;
        margin: 1rem 1rem 0 0;
      }

      .value-parceled {
        color: $money-color;
        margin-bottom: 1rem;
      }

      .freight {
        color: $money-color;
        margin-bottom: 1rem;
      }

      .info {
        bottom: 1rem;
        font-weight: 300;
        left: 1rem;
        right: 1rem;
        font-size: 1rem;
      }
    }
  }
}
