@import "../../../assets/styles/colors";

.navbar-container {
  background-color: $primary-color;
  width: 100%;

  .navbar-content {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    align-items: center;

    .navbar-logo {
    }

    .search-container {
      margin: 0 1rem;
    }
  }
}
