<div class="navbar-container">
  <div class="container navbar-content">
    <div class="search-content">
      <div class="navbar-logo">
        <img src="../../../assets/images/simple-logo.svg" alt="Logo simples do motor de busca" [routerLink]="'/'">
      </div>
      <div class="search" *ngIf="searchBar">
        <mlb-search-bar></mlb-search-bar>
      </div>
    </div>

    <div class="result-header">
      <span class="title">Os melhores produtos para você!</span>
      <span class="subtitle">Busca otimizada para {{city}} - <i>{{ cep }}</i></span>
    </div>
  </div>
</div>
