@import "../../../assets/styles/colors";

.navbar-container {
  background-color: $primary-color;
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .17);

  .navbar-content {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    align-items: center;

    .navbar-logo {
      margin-right: 2rem;
    }

    .search-container {
      margin: 0 1rem;
    }
  }
}
