<div class="result-card">
  <div class="thumb"></div>
  <div class="content">
    <header class="header">
      <div class="row-wrapper">
        <span class="title">Notebook Positivo</span>
        <div class="rate">
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
      </div>
      <div class="details">
        <div class="recipe-value">
          <span class="value">R$ 1.199</span>
          <span class="value-parceled">12x R$ 99<sup>92</sup> sem juros</span>
        </div>

        <span class="freight">Frete grátis</span>
      </div>
    </header>

    <p class="description">
      Notebook Positivo Motion Duo 2 Em 1 Intel<small>&copy;</small> Quad<small>&copy;</small> Core
    </p>

    <footer class="content__footer">
      <a href="#">Ver Produto</a>
    </footer>
  </div>
</div>
