@import "../../../assets/styles/colors";

.bt-mlbuscador {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: .9rem;
  background-color: $primary-color;
  padding: 0.45rem 2.1rem;
  text-align: center;
  border-radius: 5px;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.2px;
  transition: transform 250ms ease, box-shadow 250ms ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 34px 0 rgba($primary-color, 0.32);
  }
}
