@import "../../../assets/styles/general";

.search-result-container {
  background-color: white;

  .search-result-header {
    display: flex;
    flex-direction: column;
    margin: 2.25rem;

    .title {
      font-size: 3.5em;
      font-weight: 500;
    }

    .subtitle {
      font-size: 1.3em;
      font-weight: 300;
    }
  }
}
